{% if categories %}
{% for category in categories %}
    {% if category.children %}
        <li class="has-sub dropdown-wrapper from-bottom">
        <a href="{{ category.href }}"><span class="top">{{ category.name }}</span><i class="fa fa-angle-down"></i></a>
        <div class="sub-holder dropdown-content dropdown-left">
            <div class="dropdown-inner"><div class="menu-item">
				{% for children in category.children|batch(category.children|length / category.column|round(1, 'ceil')) %}
                  <ul class="default-menu-ul hover-menu">
                    {% for child in children %}
                    
						{% if child.grandchildren %}
					<li class="default-menu-li has-sub dropdown-wrapper from-bottom"><a href="{{ child.href }}">{{ child.name }}<i class="fa fa-angle-right"></i></a>
							<ul class="dropdown-content sub-holder dropdown-left">
								{% for grandchild in child.grandchildren %}
									<li class="default-menu-li"><a href="{{ grandchild.href }}">{{ grandchild.name }}</a></li>
								{% endfor %}
							</ul>
					</li>
						{% else %}
					<li class="default-menu-li"><a href="{{ child.href }}">{{ child.name }}</a></li>
						{% endif %}
					
                    {% endfor %}
                  </ul>
                {% endfor %}
            </div>
        </div>
        </div>
        </li>
    {% else %}
        <li><a href="{{ category.href }}">{{ category.name }}</a></li>
    {% endif %}
{% endfor %}
{% endif %}