<div style="width:{{ popup_width }}px;max-width:100%;">
<div class="table popup-window dark_field text-center" style="height:{{ popup_height }}px;">

{% if img %}
<div class="table-cell img-cell">
<img src="{{ img }}" alt="" />
</div>
{% endif %}

<div class="table-cell content-cell w100">
{% if popup_title is defined %}
<h2>{{ popup_title }}</h2>
{% endif %}
{% if (popup_content_block) and (popup_content_block != '<p><br></p>') %}
{{ popup_content_block }}
{% endif %}
</div>

</div>
</div>