<div class="newsletter-wrap">
<div class="input-group sign-up-field">
<span class="sign-up-respond" id="subscribe-respond{{ module }}"></span>
<input type="text" id="subscribe-module{{ module }}" name="email" class="form-control" aria-label="{{ basel_subscribe_email }}" placeholder="{{ basel_subscribe_email }}" style="margin-bottom:15px;display:block" />

<p  style="display:block"><input class="chk" name="terms" required  aria-label="Prijava na newsletter" type="checkbox"> {{ basel_subscribe_pristajem }} </p>
<span class="input-group-btn">
<a class="btn btn-neutral  nowrap" onclick="subscribe({{ module }});"><span class="nowrap">{{ basel_subscribe_btn }}</span></a>
</span>
</div>
    
</div>