<legend>Footer</legend>

<legend class="sub">Footer Custom Block (top)</legend>
<ul class="nav nav-tabs language-tabs">
{% for language in languages %}
<li><a href="#footer-block1{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
{% endfor %}
</ul>
<div class="tab-content">
{% for language in languages %}
<div class="tab-pane" id="footer-block1{{ language.language_id }}">
  <div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Custom block which will take place above the footer links">Footer custom block (top)</span><br /><a class="editor-toggle" id="enable-editor-footer1-{{ language.language_id }}" onclick="enable_editor('footer1','{{ language.language_id }}')">Enable HTML editor</a></label>
    <div class="col-sm-10">
      <textarea id="editor-textarea-footer1-{{ language.language_id }}" name="settings[basel][footer_block_1][{{ language.language_id }}]" class="form-control code">{{ footer_block_1[language.language_id] ? footer_block_1[language.language_id] }}</textarea>
    </div>
  </div>
 </div>
{% endfor %}
</div>

          
<legend class="sub">Footer Links</legend>
<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Enable to use custom footer links instead of the default ones in Opencart">Overwrite default links</span></label>
    <div class="col-sm-10 toggle-btn">
    <label><input type="radio" name="settings[basel][overwrite_footer_links]" class="footer-custom-links-select" value="0" {% if overwrite_footer_links == '0' %} checked="checked"{% endif %} /><span>Disabled</span></label>
    <label><input type="radio" name="settings[basel][overwrite_footer_links]" class="footer-custom-links-select" value="1" {% if overwrite_footer_links == '1' %} checked="checked"{% endif %} /><span>Enabled</span></label>
    </div>                   
</div>


<div id="custom_footer_links_holder"{% if overwrite_footer_links %} style="display:block"{% else %} style="display:none"{% endif %}>
<div class="form-group">
<label class="col-sm-2 control-label"></label>
<div class="col-sm-10">
<ul class="nav content-tabs" id="footer-column-tabs">
    {% set footer_column_row = 1 %}
    {% for basel_footer_column in basel_footer_columns %}
    <li><a href="#footer-column-{{ footer_column_row }}" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$('a[href=\'#footer-column-{{ footer_column_row }}\']').parent().remove(); $('#footer-column-{{ footer_column_row }}').remove(); $('#footer-column-tabs a:first').tab('show');"></i> Column {{ footer_column_row }}</a></li>
    {% set footer_column_row = footer_column_row + 1 %}
    {% endfor %}
    <li id="column-add" style="cursor:pointer;"><a onclick="addFooterColumn();"><i class="fa fa-plus-circle"></i> Add Column</a></li> 
</ul>
<div class="tab-content" id="footer-columns-holder">
{% set footer_column_row = 1 %}
{% if basel_footer_columns is defined %}
{% for basel_footer_column in basel_footer_columns %}
<div class="tab-pane" id="footer-column-{{ footer_column_row }}">
<div class="tab-content">
<table class="table table-clean table-footer-column">
<thead>
  <tr>
    <td width="96%"><h4>Column Heading</h4></td>
    <td width="4%">Sort Order</td>
  </tr>
</thead>
<tbody>
  <tr id="column-row{{ footer_column_row }}">
    <td class="first">
    {% for language in languages %}
    <div class="input-group">
    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.language_id }}" /></span>
    <input type="text" class="form-control" name="settings[basel][basel_footer_columns][{{ footer_column_row }}][title][{{ language.language_id }}]" value="{{ basel_footer_column.title[language.language_id] ? basel_footer_column.title[language.language_id] }}" />
    </div>
    {% endfor %}
    </td>
    <td class="text-right">
    <input type="text" class="form-control" style="width:60px" name="settings[basel][basel_footer_columns][{{ footer_column_row }}][sort]" value="{{ basel_footer_column.sort ? basel_footer_column.sort : '99' }}" />
    </td>
  </tr>
</tbody>
</table>
<table id="links-holder-{{ footer_column_row }}" class="table table-clean">
    <thead>
      <tr>
        <td width="48%"><h4>Column Links</h4></td>
        <td width="48%"><span data-toggle="tooltip" title="Include http:// when linking to external targets">Link Target</span></td>
        <td width="4%"><span style="white-space:nowrap">Sort Order</span></td>
      </tr>
    </thead>
    <tbody>
    <tr></tr>
    {% set footer_link_row = 1 %}
	{% if basel_footer_column.links is defined %}
	{% for link in basel_footer_column.links %}
    <tr id="footer-link-row-{{ footer_column_row }}-{{ footer_link_row }}">
    <td class="first">
    {% for language in languages %}
    <div class="input-group">
    <span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.language_id }}" /></span>
    <input class="form-control" name="settings[basel][basel_footer_columns][{{ footer_column_row }}][links][{{ footer_link_row }}][title][{{ language.language_id }}]" value="{{ link.title[language.language_id] ? link.title[language.language_id] }}" />
    </div>
    {% endfor %}
    </td>
    <td class="first">
    <input class="form-control" name="settings[basel][basel_footer_columns][{{ footer_column_row }}][links][{{ footer_link_row }}][target]" value="{{ link.target ? link.target }}" />
    </td>
    <td class="first">
    <input type="text" class="form-control" style="width:60px" name="settings[basel][basel_footer_columns][{{ footer_column_row }}][links][{{ footer_link_row }}][sort]" value="{{ link.sort ? link.sort : '1' }}" />
    </td>
    <td class="text-right">
    <button type="button" onclick="$('#footer-link-row-{{ footer_column_row }}-{{ footer_link_row }}').remove();" class="btn btn-danger">Remove</button>
    </td>
    </tr>
{% set footer_link_row = footer_link_row + 1 %}
{% endfor %} <!-- foreach groups ends -->
{% endif %}
</tbody>
    <tfoot>
      <tr>
        <td colspan="3"></td>
        <td class="text-right"><button type="button" onclick="addFooterLink({{ footer_column_row }});" class="btn btn-primary">Add Link</button></td>
      </tr>
    </tfoot>
  </table>
</div>
</div> <!-- #footer-columns--->
{% set footer_column_row = footer_column_row + 1 %}
{% endfor %}
{% endif %}
</div>  <!-- #footer-columns-holder-->
</div>                
</div>
</div>

<legend class="sub">Footer Custom Block (right)</legend>
<ul class="nav nav-tabs language-tabs">
{% for language in languages %}
<li><a href="#footer-block2-language{{ language.language_id }}" data-toggle="tab"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /> {{ language.name }}</a></li>
{% endfor %}
</ul>
<div class="tab-content">
{% for language in languages %}
<div class="tab-pane" id="footer-block2-language{{ language.language_id }}">

<div class="form-group">
<label class="col-sm-2 control-label">Heading</label>
<div class="col-sm-10">
  <input class="form-control" name="settings[basel][footer_block_title][{{ language.language_id }}]" value="{{ footer_block_title[language.language_id] ? footer_block_title[language.language_id] }}" />
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Custom block which will take place as a column right by the footer links">Footer custom block (top)</span><br /><a class="editor-toggle" id="enable-editor-footer2-{{ language.language_id }}" onclick="enable_editor('footer2','{{ language.language_id }}')">Enable HTML editor</a></label>
<div class="col-sm-10">
  <textarea id="editor-textarea-footer2-{{ language.language_id }}" name="settings[basel][footer_block_2][{{ language.language_id }}]" class="form-control code">{{ footer_block_2[language.language_id] ? footer_block_2[language.language_id] }}</textarea>
</div>
</div>

<div class="form-group">
<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Contact detail lines will take place below the custom block">Contact details</span></label>
<div class="col-sm-10">
  <input class="form-control" name="settings[basel][footer_infoline_1][{{ language.language_id }}]" value="{{ footer_infoline_1[language.language_id] ? footer_infoline_1[language.language_id] }}" />
  <input class="form-control" name="settings[basel][footer_infoline_2][{{ language.language_id }}]" value="{{ footer_infoline_2[language.language_id] ? footer_infoline_2[language.language_id] }}" />
  <input class="form-control" name="settings[basel][footer_infoline_3][{{ language.language_id }}]" value="{{ footer_infoline_3[language.language_id] ? footer_infoline_3[language.language_id] }}" />
</div>
</div>
  
 </div>
{% endfor %}
</div>

<div class="form-group">
    <label class="col-sm-2 control-label"><span data-toggle="tooltip" title="If an image is uploaded, it will take place below the contact details">Payment icons</span></label>
    <div class="col-sm-10">
    <a href="" id="thumb-payment-img" data-toggle="image" class="img-thumbnail"><img src="{{ payment_thumb }}" alt="" title="" data-placeholder="{{ placeholder }}" /></a>
    <input type="hidden" name="settings[basel][basel_payment_img]" value="{{ basel_payment_img }}" id="input-payment-img" />
    </div>                   
</div>


<legend class="sub">Footer Copyright Text</legend>
<div class="form-group">
<label class="col-sm-2 control-label"><span data-toggle="tooltip" title="Use {year} to add the current year">Footer Copyright Text</span></label>
    <div class="col-sm-10">
    {% for language in languages %}
    <div class="input-group">
    <span class="input-group-addon">
    <img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.language_id }}" /></span>
    <input class="form-control" name="settings[basel][basel_copyright][{{ language.language_id }}]" value="{{ basel_copyright[language.language_id] ? basel_copyright[language.language_id] }}" />
    </div>
    {% endfor %}
    </div>
</div>

<script type="text/javascript"><!--
$('#footer-column-tabs a:first').tab('show');
var footer_column_row = {{ footer_column_row }};
function addFooterColumn() {
	html = '<div class="tab-pane" id="footer-column-' + footer_column_row + '">';
	html += '<div class="tab-content">';
	html += '<table id="footer_column-' + footer_column_row + '" class="table table-clean table-footer-column">';
	html += '<thead>';
	html += '<tr>';
	html += '<td width="96%"><h4>Column Heading</h4></td>';
	html += '<td width="4%">Sort Order</td>';
	html += '</tr>';
	html += '</thead>';
	html += '<tbody>';
   	html += '<tr id="link-row' + footer_column_row + '">';
	html += '<td class="first">';
	{% for language in languages %}
	html += '<div class="input-group">';
	html += '<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input type="text" class="form-control" name="settings[basel][basel_footer_columns][' + footer_column_row + '][title][{{ language.language_id }}]" />';
	html += '</div>';
	{% endfor %}
	html += '</td>';
	html += '<td class="text-right">';
	html += '<input type="text" class="form-control" style="width:60px" value="' + footer_column_row + '" name="settings[basel][basel_footer_columns][' + footer_column_row + '][sort]" />';
	html += '</td>';
	html += '</tr>';
	html += '</tbody>';
	html += '</table>';
	html += '<table id="links-holder-' + footer_column_row  + '" class="table table-clean">';
    html += '<thead>';
	html += '<tr><td width="48%"><h4>Column Links</h4></td>';
	html += '<td width="48%"><span data-toggle="tooltip" title="Include http:// when linking to external targets">Link Target</span></td>';
	html += '<td width="4%"><span style="white-space:nowrap">Sort Order</span></td></tr>';
	html += '</thead>';
	html += '<tbody>';
	html += '<tr></tr>';
	html += '</tbody>';
	html += '<tfoot>';
	html += '<tr>';
	html += '<td colspan="3"></td>';
	html += '<td class="text-right"><button type="button" onclick="addFooterLink(' + footer_column_row  + ');" class="btn btn-primary">Add Link</button></td>';
	html += '</tr>';
	html += '</tfoot>';
	html += '</table>';
	html += '</div>';
	html += '</div>';
	$('#footer-columns-holder').append(html);
	$('#column-add').before('<li><a href="#footer-column-' + footer_column_row + '" data-toggle="tab"><i class="fa fa-minus-circle" onclick="$(\'a[href=\\\'#footer-column-' + footer_column_row + '\\\']\').parent().remove(); $(\'#footer-column-' + footer_column_row + '\').remove(); $(\'#footer-column-tabs a:first\').tab(\'show\');"></i> Column ' + footer_column_row + '</a></li>');
	$('#footer-column-tabs a[href=\'#footer-column-' + footer_column_row + '\']').tab('show');
	footer_column_row++;
	$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
}
//--></script>

<script type="text/javascript"><!--
function addFooterLink(footer_column_row) {
	link_row = $('#links-holder-' + footer_column_row + ' tbody tr').length;
	html = '<tr id="footer-link-row-' + footer_column_row + '-' + link_row + '">';
	html += '<td class="first">';
	{% for language in languages %}
	html += '<div class="input-group">';
	html += '<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>';
	html += '<input type="text" class="form-control" name="settings[basel][basel_footer_columns][' + footer_column_row + '][links][' + link_row + '][title][{{ language.language_id }}]" />';
	html += '</div>';
	{% endfor %}
	html += '</td>';
	html += '<td class="first">';
	html += '<input type="text" class="form-control" name="settings[basel][basel_footer_columns][' + footer_column_row + '][links][' + link_row + '][target]" />';
	html += '</td>';
	html += '<td class="first">';
	html += '<input type="text" style="width:60px" class="form-control" name="settings[basel][basel_footer_columns][' + footer_column_row + '][links][' + link_row + '][sort]" value="' + link_row + '" />';
	html += '</td>';
	html += '<td class="text-right">';
	html += '<button type="button" onclick="$(\'#footer-link-row-' + footer_column_row  + '-' + link_row + '\').remove();" class="btn btn-danger">Remove</button>';
	html += '</td>';
   	html += '</tr>';
	$('#links-holder-' + footer_column_row + ' tbody').append(html);
	link_row++;
}
//--></script>