<legend>Image Sizes</legend>



<legend class="sub">Product Pages</legend>
            <div class="form-group">
              <label class="col-sm-2 control-label">Main Product Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_thumb_width]" value="{{ theme_default_image_thumb_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_thumb_height]" value="{{ theme_default_image_thumb_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Additional Images (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_additional_width]" value="{{ theme_default_image_additional_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_additional_height]" value="{{ theme_default_image_additional_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Zoom/Popup image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_popup_width]" value="{{ theme_default_image_popup_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_popup_height]" value="{{ theme_default_image_popup_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Related Products (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_related_width]" value="{{ theme_default_image_related_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_related_height]" value="{{ theme_default_image_related_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            
            
            
<legend class="sub">Category Pages</legend>           
            <div class="form-group">
              <label class="col-sm-2 control-label">Main Category Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_category_width]" value="{{ theme_default_image_category_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_category_height]" value="{{ theme_default_image_category_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Sub-categoriy Thumbs (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[basel][subcat_image_width]" value="{{ subcat_image_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[basel][subcat_image_height]" value="{{ subcat_image_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
                        
            <div class="form-group">
              <label class="col-sm-2 control-label">Product Listings Images (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_product_width]" value="{{ theme_default_image_product_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_product_height]" value="{{ theme_default_image_product_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <legend class="sub">Quickview Popup</legend>
            <div class="form-group">
              <label class="col-sm-2 control-label">Quickview Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[basel][quickview_popup_image_width]" value="{{ quickview_popup_image_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[basel][quickview_popup_image_height]" value="{{ quickview_popup_image_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            
            
            <legend class="sub">Product Comparison Pages</legend>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Compare Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_compare_width]" value="{{ theme_default_image_compare_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_compare_height]" value="{{ theme_default_image_compare_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <legend class="sub">Wishlist Pages</legend>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Wish List Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_wishlist_width]" value="{{ theme_default_image_wishlist_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_wishlist_height]" value="{{ theme_default_image_wishlist_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <legend class="sub">Shopping Cart Page</legend>
            
            <div class="form-group">
              <label class="col-sm-2 control-label">Cart Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_cart_width]" value="{{ theme_default_image_cart_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_cart_height]" value="{{ theme_default_image_cart_height }}"  class="form-control" />
                  </div>
                </div>
              </div>
            </div>
            
            <legend class="sub">Contact Page</legend>
            <div class="form-group">
              <label class="col-sm-2 control-label">Store Image (W x H)</label>
              <div class="col-sm-10">
                <div class="row">
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_location_width]" value="{{ theme_default_image_location_width }}" class="form-control" />
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="settings[theme_default][theme_default_image_location_height]" value="{{ theme_default_image_location_height }}" class="form-control" />
                  </div>
                </div>
              </div>
            </div>