<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
		<td class="text-left">{{ col_route }}</td>
		<td class="text-center">{{ col_meta }}</td>
    </tr>
</thead>
<tbody>
    {% if (records) %} 
		{% for record in records %} 
			<tr>
				<td style="text-align: center;">
					<input type="checkbox" name="selected[]" value="{{ record.crawl_route_id }}" />
				</td>
				<td class="text-left">{{ record.route }}</td>
				<td class="text-center">
					<select id="meta_{{ record.crawl_route_id }}" name="meta_{{ record.crawl_route_id }}" onchange="updateMeta('{{ record.crawl_route_id }}', this.value);" class="form-control">
						{% for option in options %} 
							<option value="{{ option }}" {{ record.meta == option ? 'selected':'' }}>{{ option }}</option>
						{% endfor %}
					</select>
				</td>			
			</tr>
		{% endfor %} 
    {% else %} 
    		<tr>
              <td class="text-center" colspan="3">{{ text_no_records }}</td>
            </tr> 
    {% endif %} 
</tbody>    

</table>
</div>

