<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
    	<td class="text-left">KEYWORD</td>
		<td class="text-right">DATE ADDED</td>
    </tr>
</thead>
<tbody>
    {% if (records) %} 
		{% for record in records %} 
			<tr>
			<td style="text-align: center;"><input type="checkbox" name="selected[]" value="{{ record['id'] }}" /></td>
			<td class="text-left">{{ record['keyword'] }}</td>
			<td class="text-right">{{ record['date_added'] }}</td>
			</tr>
		{% endfor %} 
    {% else %} 
    		<tr>
              <td class="text-center" colspan="3">No Records Found</td>
            </tr> 
    {% endif %} 
</tbody>    

</table>
</div>

<div class="row">
  <div class="col-sm-6 text-left">{{ pagination }}</div>
  <div class="col-sm-6 text-right">{{ results }}</div>
</div>