<table class="table table-hover table-bordered">
	<thead>
	<tr>
		<td class="text-left">Image Table</td>
		<td class="text-center" style="color:green;">Organized</td>
		<td class="text-center" style="color:red;">Unorganized</td>
		<td class="text-center">Action</td>
	</tr>
	</thead>
	<tbody>
	<tr>
		<td>Product Main Images</td>
		<td class="text-center"><a class="btn" onclick="show_image_list('product','o');"><span id="count_o_product">{{ org_products_main_total }}</span></a></td>
		<td class="text-center"><a class="btn" onclick="show_image_list('product','u');"><span id="count_u_product">{{ unorg_products_main_total }}</span></a></td>
		<td rowspan="2"><a class="btn btn-success col-sm-12" id="button-rename" onclick="startprocess('index.php?route={{ base_route }}/hb_seoimage/generate&user_token={{ user_token }}&store_id={{ store_id }}');" data-loading-text="Running..." {{ hb_seoimage_status? '':'disabled="disabled"' }} ><i class="fa fa-play" aria-hidden="true"></i>&nbsp;START</a></td>
	</tr>
	
	<tr>
		<td>Product Additional Images</td>
		<td class="text-center"><a class="btn" onclick="show_image_list('product_image','o');"><span id="count_o_product_image">{{ org_products_additional_total }}</span></a></td>
		<td class="text-center"><a class="btn" onclick="show_image_list('product_image','u');"><span id="count_u_product_image">{{ unorg_products_additional_total }}</span></a></td>
	</tr>
	
	<tr>
		<td>Category Images</td>
		<td class="text-center"><a class="btn" onclick="show_image_list('category','o');"><span id="count_o_category">{{ org_category_total }}</span></a></td>
		<td class="text-center"><a class="btn" onclick="show_image_list('category','u');"><span id="count_u_category">{{ unorg_category_total }}</span></a></td>
		<td class="text-center"><a class="btn btn-success col-sm-12" id="button-category-rename" onclick="rename_images('category');" {{ hb_seoimage_status? '':'disabled="disabled"' }}><i class="fa fa-play" aria-hidden="true"></i>&nbsp;START</a></td>
	</tr>
	
	<tr>
		<td>Brand Images</td>
		<td class="text-center"><a class="btn" onclick="show_image_list('manufacturer','o');"><span id="count_o_manufacturer">{{ org_brand_total }}</span></a></td>
		<td class="text-center"><a class="btn" onclick="show_image_list('manufacturer','u');"><span id="count_u_manufacturer">{{ unorg_brand_total }}</span></a></td>
		<td class="text-center"><a class="btn btn-success col-sm-12" id="button-brand-rename" onclick="rename_images('brand');" {{ hb_seoimage_status? '':'disabled="disabled"' }}><i class="fa fa-play" aria-hidden="true"></i>&nbsp;START</a></td>
	</tr>
	
	<tr>
		<td>Product Option Images</td>
		<td class="text-center"><a class="btn" onclick="show_image_list('option_value','o');"><span id="count_o_option_value">{{ org_option_total }}</span></a></td>
		<td class="text-center"><a class="btn" onclick="show_image_list('option_value','u');"><span id="count_u_option_value">{{ unorg_option_total }}</span></a></td>
		<td class="text-center"><a class="btn btn-success col-sm-12" id="button-option-rename" onclick="rename_images('option');" {{ hb_seoimage_status? '':'disabled="disabled"' }}><i class="fa fa-play" aria-hidden="true"></i>&nbsp;START</a></td>
	</tr>
	</tbody>
</table>
