<div class="table-responsive">
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<td class="text-center">{{ col_hb_url_preserve_id }}</td>
				<td class="text-center">{{ col_store_id }} </td>
				<td class="text-center">{{ col_language_id }}</td>
				<td class="text-center">{{ col_key }}</td>
				<td class="text-left">{{ col_old_keyword }}</td>
				<td class="text-left">{{ col_new_keyword }}</td>
				<td class="text-right">{{ col_date_added }}</td>
			</tr>
		</thead>
		<tbody>
			{% if (records) %} 
				{% for record in records %} 
				<tr>
					<td class="text-center">{{ record.hb_url_preserve_id }}</td>
					<td class="text-center">{{ record.store_id }}</td>
					<td class="text-center">{{ record.language_id }}</td> 				
					<td class="text-center">{{ record.query }}</td>
					<td class="text-left">{{ record.old_keyword }}</td>
					<td class="text-left">{{ record.new_keyword }}</td>
					<td class="text-right">{{ record.date_added }}</td>
				</tr>
				{% endfor %} 
			{% else %} 
				<tr><td class="text-center" colspan="6">{{ text_no_records }}</td></tr>
			{% endif %}				
		</tbody>
	</table>
</div>

<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>