<div class="table-responsive">
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<td width="1" style="text-align: center;"><input type="checkbox" onclick="$('input[name*=\'selected\']').prop('checked', this.checked);" /></td>
			<td class="text-left">{{ column_link }}</td>
			<td class="text-center col-sm-2">{{ column_frequency }}</td>
			<td class="text-center col-sm-2">{{ column_priority }}</td>
			<td class="text-right col-sm-2">{{ column_date_added }}</td>
		</tr>
	</thead>
	<tbody>
		{% if links %} 
		{% for link in links %} 
		<tr>
		<td style="text-align: center;"><input type="checkbox" name="selected[]" value="{{ link.id }}" /></td>					
		<td class="text-left col-sm-6">{{ link.link }} </td>
		<td class="text-center col-sm-2">{{ link.frequency }} </td>
		<td class="text-center col-sm-2">{{ link.priority }} </td>
		<td class="text-right col-sm-2">{{ link.date_added }}</td>
		</tr>
		{% endfor %} 
		{% else %} 
		<tr><td class="text-center" colspan="5">{{ text_no_record }}</td></tr>
		{% endif %}				
	</tbody>
</table>
</div>

<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>