<table class="table table-hover table-bordered">
  <tbody>
  <tr>
    <th class="col-sm-4">{{ text_total_records }}</th>
    <td class="text-left">{{ total_products }}</td>
  </tr>
  <tr>
    <th>{{ text_total_tags }}</th>
    <td class="text-left">{{ filled_tags }}</td>
  </tr>
  <tr>
    <th>{{ text_total_empty }}</th>
    <td class="text-left">{{ empty_tags }}</td>
  </tr>
  </tbody>
</table>