<div class="table-responsive">
<table class="table table-bordered table-hover">
<thead>
	<tr>
		<td class="text-left">{{ col_ip }}</td>
		<td class="text-center">{{ col_user_agent }}</td>
		<td class="text-left">{{ col_referrer }}</td>		
		<td class="text-right">{{ col_date_added }}</td>
    </tr>
</thead>
<tbody>
    {% if (records) %} 
		{% for record in records %} 
			<tr>
				<td class="text-left">{{ record.ip }}</td>
				<td class="text-left">{{ record.user_agent }}</td>
				<td class="text-left">{{ record.referrer }}</td>
				<td class="text-right">{{ record.date_added }}</td>
			</tr>
		{% endfor %} 
    {% else %} 
    		<tr>
              <td class="text-center" colspan="4">{{ text_no_records }}</td>
            </tr> 
    {% endif %} 
</tbody>    

</table>
</div>

<div class="row">
	<div class="col-sm-6 text-left">{{ pagination }}</div>
	<div class="col-sm-6 text-right">{{ results }}</div>
</div>

